.container {
    margin: 0 auto 50px;
    display: block;
    justify-content: center;
    text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
}

.center-grid {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  align-items: center;
}

h1 {
  margin: 0 auto;
  justify-content: center;
  text-align : center;
}

h3 {
  margin: 0 auto 20px;
  justify-content: center;
  text-align : center;
}

form {
  display: flex;
  flex-direction: row;
}

img {
    height: 380px;
    margin: 0 auto 20px;
}

input {
  grid-row: 3;
}

a {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
}