high-label {
  font-size: 1em;
  place-content: center;
  place-self: center;
  grid-row: 1;
  font-weight: bold;
}

low-label {
  font-size: 1em;
  place-content: center;
  place-self: center;
  margin-bottom: 8px;
  grid-row: 2;
}

under-label {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  grid-row: 4;
}

input-overlay {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
  grid-row: 3;
  grid-column: 1;
  z-index: 1;
  place-self: center;
  user-select: none;
  font-weight: bold;
  top: 6px;
  right: 1px;
  margin: 0px;
}

input {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.2em;
  place-content: center;
  grid-row: 3;
  grid-column: 1;
  color: white;
  position: relative;
  left: 3px;
}

b {
  font-size: 1.3em;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  grid-row: 3;
}

g-b {
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(0, 202, 0);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  grid-row: 3;
}

.red-outline {
  border: 2px solid red;
  border-radius: 4px;
  outline-color: red;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  z-index: 2;
  width: 87%;
  background-color: transparent;
}

.no-outline {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  z-index: 2;
  background-color: transparent;
  border: none;
  outline: none;
}

.break {
  height: 3px;
  width: 100%;
}

.punct {
    margin-left: -6px;
}

.dash {
    margin-left: -6px;
    margin-right: -6px;
}

@media all and (max-width: 550px) {
  input {
    font-weight: bold;
    font-size: 1.2em;
    place-content: center;
    grid-row: 3;
    grid-column: 1;
  }

  high-label {
    font-size: 1em;
    position: relative;
    left: 1px;
  }

  low-label {
    font-size: .8em;
    position: relative;
    left: 1px;
  }

  input-overlay {
    position: relative;
    font-size: 1em;
    grid-row: 3;
    grid-column: 1;
    z-index: 1;
    place-self: center;
    user-select: none;
    font-weight: bold;
    top: 5px;
    margin: 0px;
  }
  
  b {
    font-size: 1em;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    grid-row: 3;
  }

  g-b {
    font-size: 1em;
    font-weight: bold;
    color: rgb(0, 202, 0);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    grid-row: 3;
  }

  .red-outline {
    font-size: 1em;
    border: 2px solid red;
    border-radius: 4px;
    outline-color: red;
    width: 82%;
    margin-left: 0px;
    margin-right: -2px;
    margin-bottom: 5px;
    z-index: 2;
    background-color: transparent;
  }

  .no-outline {
    font-size: 1em;
    width: 110%;
    margin-left: 2px;
    margin-right: 0px;
    margin-bottom: 5px;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
