high-label {
  font-family: monospace;
  font-size: 1.2em;
  place-content: center;
  place-self: center;
  grid-row: 1;
  font-weight: bold;
}

low-label {
  font-family: monospace;
  font-size: 1.2em;
  place-content: center;
  place-self: center;
  margin-bottom: 8px;
  grid-row: 2;
}

under-label {
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  grid-row: 4;
}

input-overlay {
  position: relative;
  font-family: monospace;
  font-size: 1.5em;
  grid-row: 3;
  grid-column: 1;
  z-index: 1;
  place-self: center;
  user-select: none;
  font-weight: bold;
  top: 8px;
  right: 1px;
}

input {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;
  place-content: center;
  margin-left: 5px;
  margin-right: 5px;
  grid-row: 3;
  grid-column: 1;
}

b {
  font-size: 1.5em;
  font-family: monospace;
  margin-left: 5px;
  margin-right: 5px;
  grid-row: 3;
}

g-b {
  font-size: 1.5em;
  font-weight: bold;
  color: green;
  font-family: monospace;
  margin-left: 10px;
  margin-right: 10px;
  grid-row: 3;
}

.red-outline {
    border: 2px solid red;
    border-radius: 4px;
    outline-color: red;
    margin-left: 3px;
    margin-right: 3px;
}

.no-outline {
    margin-left: 5px;
    margin-right: 5px;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
}